@import url(https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap);

body {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nanum Pen Script";
    min-height: 100vh;
    margin: 0;
}

.main {
    background-color: #fff;
    box-shadow: 0 7px 29px 0 rgba(100, 100, 111, .2);
}

.main {
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    width: 900px;
}

@media (min-width: 900px) {
    .main {
        width: 890px;
    }
}

@media (max-width: 890px) {
    .main {
        width: 90vw;
    }
}

.color-button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    white-space: nowrap;
    font-family: "Nanum Pen Script";
}

.default-button {
    background-color: #ececec;
    color: #000;
}

.positive-button {
    background-color: #64c964;
    color: #fff;
}

.negative-button {
    background-color: #fd565f;
    color: #fff;
}

.purple-button {
    background-color: rgba(201, 185, 248, 0.75);
    color: rgb(255, 255, 255);
}

.pink-button {
    background-color: rgba(243, 180, 255, 0.93);
    color: rgb(255, 255, 255);
}

.black-button {
    background-color: rgba(0, 0, 0, 0.62);
    color: rgb(255, 255, 255);
}

button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
}

header, header > div {
    display: flex;
}

header .head_text {
    width: 50%;
    font-size: 25px;
    justify-content: center;
}

header .head_btn_left {
    width: 25%;
    justify-content: start;
}

header .head_btn_right {
    width: 25%;
    justify-content: end;
}

/* 기본 스타일 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.calendar {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    max-width: 400px; /* 최대 너비 설정 */
    width: 40vh; /* 화면 크기에 따라 너비 조절 */
    height: auto; /* 높이 자동 조절 */
}

.calendar-header {
    margin-bottom: 15px;
    font-size: 21px;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar table th {
    background-color: #f0f0f0;
    padding: 8px;
    font-weight: bold;
}

.calendar table td {
    padding: 8px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.calendar table td button {
    border: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    padding: 0;
}

.calendar-header button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 0 5px;
}

/* 미디어 쿼리를 사용하여 화면 크기에 따른 스타일 조정 */
@media (max-width: 768px) {
    .calendar {
        font-size: 16px;
    }

    .calendar-header button {
        font-size: 18px;
    }
}

.todo_type_wrapper {
    cursor: pointer;
    min-width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.todo_type_wrapper_1 {
    background-color: #64c964;
    color: #fff;
}


.todo_type_wrapper_2 {
    background-color: #9dd772;
    color: #fff;
}

.todo_type_wrapper_3 {
    background-color: #fdce17;
    color: #fff;
}

.todo_type_wrapper_4 {
    background-color: #fd8446;
    color: #fff;
}

.todo_type_wrapper_5 {
    background-color: #fd565f;
    color: #fff;
}

.todo_item {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-between;
}

.todo_wrapper {
    flex-grow: 1;
    margin-left: 20px;
    cursor: pointer;
}

.todo_description {
    font-size: 20px;

}

.todo_date {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
}

.todo_btn_wrapper .color-button {
    display: flex;
    margin-left: 5px;
}

.todo_btn_wrapper .color-button {
    margin-left: 5px;
}

.todo-list {
    overflow: auto;
    max-height: 80vh;
}
.menu_wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.left_col {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.right_col {
    flex-grow: 1;
}

.right_col button {
    width: 100%;
}

.control_menu {
    width: 100%;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ececec;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Nanum Pen Script";
    font-size: 18px;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

.todo-create-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.todo-create-modal-content {
    background-color: #fff;
    width: 350px;
    height: 280px;
    padding: 20px;
    border-radius: 5px;
}

.todo-create-modal-button-group {
    margin-top: 50px;
    display: flex;
    justify-content: end;
}

.todo-create-modal-button-group button {
    margin-right: 5px;
}

.todo-create-form-group {
    margin-bottom: 5px;
}

.todo-create-modal label {
    font-weight: bold;
}

.todo-create-form-group input[type="text"] {
    width: 91%;
    padding: 13px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .todo-create-modal-content {
        background-color: #fff;
        width: 320px;
        height: 300px;

    }
}

.auth_container {
    display: flex;
    flex-direction: column;
    width: 75dvw;
    height: 100dvh;
    padding: 36px;
}

.auth_img_div img {
    width: 55px;
    height: 65px;
}

.auth_text_div {
    margin-top: 10px;
}

.auth_text_div h1 {
    font-size: 60px;
    font-weight: 700;
    display: block;
    align-content: center;
}

.auth_text_div h2 {
    margin-top: 10px;
    font-weight: 700;
    font-size: 31px;
    margin-bottom: 32px;
}

.auth_text_div button {
    margin-top: 10px;
    border-radius: 30px;
}

@media (min-width: 700px) {
    .auth_container {
        flex-direction: row;
        padding: 0;
    }

    .auth_img_div, .auth_text_div {
        min-width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .auth_text_div {
        flex-direction: column;
    }

    .auth_img_div img {
        width: 450px;
        height: 550px;
    }

    .auth_text_div h1 {
        font-size: 64px;
    }
}

.logout-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #d32f2f;
}